<!DOCTYPE html>
<html lang="en" ng-app='MyFirtsApp'>
<head>
    <meta charset="UTF-8">
    <title>Hola controller</title>
</head>
<body ng-controller="FirtsController"><!--tiene acceso a todos los atributos del controlador-->
	<h2>CONCEPTOS</h2>
	<button ng-click="agregarConcepto()">+ Agregar concepto</button>
	<br>
	<br>
	<br>
	<!--TABLE HEAD-->
	<table>
		<thead>
    		<tr>
				<th>Descripción</th>
				<th>Cantidad</th>
				<th>Unidades</th>
				<th>Precio unitario</th>
				<th>Total</th>
				<th>Acciones</th>
    		</tr>
  		</thead>
		<tbody>
			<tr ng-repeat="typeConcepto in conceptos">
<!-- 				<td>{{ typeConcepto.typeConcepto }}</td>
				<td>D</td>
				<td>Jane</td>
				<td>Doe</td>
				<td>Jane</td> -->
				<td><input type="text"></td>	        
	            <td><input type="number" ng:model="item.c" required ></td>
	            <td><input type="number" ng:model="item.u" required></td>
	            <td><input type="number" ng:model="item.pU" required></td>
	            <td>{{item.c * item.pU | currency }}</td>
				<td><button ng-click="erase()">ELIMINAR</button></td>
			</tr>
			<br>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Subtotal:</td>
            	<td>{{total() | currency}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>IVA (16%):</td>
            	<td>{{}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Total:</td>
            	<td>{{}}</td>
			</tr>
		</tbody>
	</table>




	<!-- <ul>
		<li ng-repeat="typeConcepto in conceptos">
			{{ typeConcepto.typeConcepto }}<button ng-click="erase()">ELIMINAR</button>
		</li>
	</ul> -->
	<!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>
