<!DOCTYPE html>
<html lang="en" ng-app='tableApp'>
<head>
    <meta charset="UTF-8">
    <title>Tabla de conceptos</title>
</head>
<body ng-controller="tableController">
	<h2>CONCEPTOS</h2>
	<button ng-click="newConcept()">+ Agregar concepto</button>
	<br>
	<br>
	<br>
	<!--TABLE HEAD-->
	<table>
		<thead>
    		<tr>
				<th>Descripción</th>
				<th>Cantidad</th>
				<th>Unidades</th>
				<th>Precio unitario</th>
				<th>Total</th>
				<th>Acciones</th>
    		</tr>
  		</thead>
		<tbody>
			<tr ng-repeat="typeConcept in items.concepts">
				<td><input type="text"></td>	        
	            <td><input type="number" ng:model="typeConcept.amount" required ></td>
	            <td><input type="number" ng:model="typeConcept.units" required></td>
	            <td><input type="number" ng:model="typeConcept.price" required></td>
	            <td ng-bind="typeConcept.amount * typeConcept.price | currency "></td>
				<td><button ng-click="erase($index)">ELIMINAR</button></td>
			</tr>

			<br>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Subtotal:</td>
            	<td ng-bind="subtotal() | currency"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>IVA (16%):</td>
            	<td ng-bind="subtotal() * 0.16 | currency"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Total:</td>
            	<td ng-bind="subtotal() + (subtotal()*0.16) | currency"></td>
			</tr>
		</tbody>
	</table>




	<!-- <ul>
		<li ng-repeat="typeConcepto in conceptos">
			{{ typeConcepto.typeConcepto }}<button ng-click="erase()">ELIMINAR</button>
		</li>
	</ul> -->
	<!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>
