.title, .subtitle {
	color: #6EAFA5;
}
.subtitle {
	font-size: 20px;
}
table {
	width: 100%;
	border-spacing: 0;
}
th, td {
	padding: 4px 64px 10px 0;
	text-align: left;
}
tbody, tfoot tr:nth-child(odd) {
	background: #6EAFA5;
}
tr:nth-child(even) {
	background: #AEEAE1;
}
table tr:last-child td{
  border-bottom: 5px solid #6E6565;
}
.onlyHover:hover {
	background-color: #ECAE77;
}
input {
  border: none;
  font-size: 14px;
  background: transparent;
}
input:focus {
	border: 2px solid #00d1b2;
}
/*BUTTONS*/
.commonBts {
    text-align: center;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.bt-newConcept {
	height: 50px;
	line-height: 50px;
    border-radius: 4px;
    float: right;
    margin-bottom: 2rem;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #00d1b2;
    background-color: #ffffff;
    color: #00d1b2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    			0 1px 5px 0 rgba(0,0,0,0.12), 
    			0 3px 1px -2px rgba(0,0,0,0.2);
}
.bt-newConcept:hover{
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
				0 1px 7px 0 rgba(0,0,0,0.12),
				0 3px 1px -1px rgba(0,0,0,0.2);
}
.bt-actions {
	background-color: transparent;
    color: #6E6565;
}